<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myServiceComponentsLabel" jhiTranslate="refplattformOneApp.serviceComponents.home.createOrEditLabel">Create or edit a Service Components</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!serviceComponents.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="serviceComponents.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="refplattformOneApp.serviceComponents.serviceName" for="field_serviceName">Service Name</label>
            <input type="text" class="form-control" name="serviceName" id="field_serviceName"
                [(ngModel)]="serviceComponents.serviceName" required/>
            <div [hidden]="!(editForm.controls.serviceName?.dirty && editForm.controls.serviceName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.serviceName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="refplattformOneApp.serviceComponents.consultingdivision" for="field_consultingdivision">Consultingdivision</label>
            <select class="form-control" id="field_consultingdivision" name="consultingdivision" [(ngModel)]="serviceComponents.consultingdivisionId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="consultingDivisionOption.id" *ngFor="let consultingDivisionOption of consultingdivisions; trackBy: trackConsultingDivisionById">{{consultingDivisionOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
