
<div *ngIf="serviceComponents">
    <h2><span jhiTranslate="refplattformOneApp.serviceComponents.detail.title">Service Components</span> {{serviceComponents.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="refplattformOneApp.serviceComponents.serviceName">Service Name</span></dt>
        <dd>
            <span>{{serviceComponents.serviceName}}</span>
        </dd>
        <dt><span jhiTranslate="refplattformOneApp.serviceComponents.consultingdivision">Consultingdivision</span></dt>
        <dd>
            <div *ngIf="serviceComponents.consultingdivisionId">
                <a [routerLink]="['/consulting-division', serviceComponents.consultingdivisionId]">{{serviceComponents.consultingdivisionId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'service-components/'+ serviceComponents.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
