<div>
    <h2>
        <span jhiTranslate="refplattformOneApp.downloads.home.title">Downloads</span>
        <button class="btn btn-primary float-right jh-create-entity create-downloads" [routerLink]="['/', { outlets: { popup: ['downloads-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="refplattformOneApp.downloads.home.createLabel">
            Create new Downloads
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="downloads">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="titel"><span jhiTranslate="refplattformOneApp.downloads.titel">Titel</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="bereich"><span jhiTranslate="refplattformOneApp.downloads.bereich">Bereich</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="anlageURL"><span jhiTranslate="refplattformOneApp.downloads.anlageURL">Anlage URL</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="customerReferencesId"><span jhiTranslate="refplattformOneApp.downloads.customerReferences">Customer References</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="doctypeId"><span jhiTranslate="refplattformOneApp.downloads.doctype">Doctype</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="languageId"><span jhiTranslate="refplattformOneApp.downloads.language">Language</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let downloads of downloads ;trackBy: trackId">
                <td><a [routerLink]="['../downloads', downloads.id ]">{{downloads.id}}</a></td>
                <td>{{downloads.titel}}</td>
                <td>{{downloads.bereich}}</td>
                <td>{{downloads.anlageURL}}</td>
                <td>
                    <div *ngIf="downloads.customerReferencesId">
                        <a [routerLink]="['../customer-references', downloads.customerReferencesId  ]" >{{downloads.customerReferencesId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="downloads.doctypeId">
                        <a [routerLink]="['../document-types', downloads.doctypeId  ]" >{{downloads.doctypeId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="downloads.languageId">
                        <a [routerLink]="['../languages', downloads.languageId  ]" >{{downloads.languageId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../downloads', downloads.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'downloads/'+ downloads.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'downloads/'+ downloads.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
